body
{
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	text-align: center;
	background:#344958;
	width:auto;
}
.text
{
	position: absolute;
	height:100%;
	width:100%;
	font-family: 'Raleway';
	color:#cccccc;
}
#title
{
	position: relative;
	padding-top: 10%;
	padding-bottom: 23%;
	font-size:70px;
}
.button
{
	position: relative;
	width:110%;
	left:-5%;
	border-top:1px solid #cccccc;
	font-size:30px;
	padding:16% 0;
}